# yaml-language-server: $schema=https://squidfunk.github.io/mkdocs-material/schema.json
site_name: Zagreus Docs
site_url: https://mydomain.org/mysite

theme:
  name: material
  palette:
    - scheme: default
      primary: deep orange
      accent: black
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode

    - scheme: slate
      primary: orange
      accent: black
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to light mode
